$body-color: rgba(34, 36, 52, 255);
$dark-color: #161829;
$white-color: #fff;
$green-color: #0ef0ad;
$font-main: 'Inter', sans-serif;
$font-alternative: 'Chakra Petch', sans-serif;
$font-marker: 'Permanent Marker', cursive;
$transition-fast: 0.3s ease;
$transition-medium: 0.5s ease;
$transition-slow: 0.8s ease;
$transition-very-slow: 1s ease;

