@import "../Variables/Variables.module";

@keyframes textGlow {
  0% {
    text-shadow: 0 0 5px $main-color;
  }
  25% {
    text-shadow: 0 0 15px $main-color;
  }
  50% {
    text-shadow: 0 0 25px $main-color;

  }
  75% {
    text-shadow: 0 0 15px $main-color;
  }
  100% {
    text-shadow: 0 0 5px $main-color;
  }
}

@keyframes whiteTextGlow {
  0% {
    text-shadow: 0 0 5px $white-color;
  }
  25% {
    text-shadow: 0 0 15px $white-color;
  }
  50% {
    text-shadow: 0 0 25px $white-color;

  }
  75% {
    text-shadow: 0 0 15px $white-color;
  }
  100% {
    text-shadow: 0 0 5px $white-color;
  }
}

@keyframes rotateAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
@keyframes scaleAnimation {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);

  }
}
@keyframes circlesAnimation {
  0% {
    width: 60px;
    height: 60px;
  }
  50% {
    width: 80px;
    height: 80px;
  }
  100% {
    width: 60px;
    height: 60px;
  }
}
