@import "../Variables/Variables.module";

@keyframes textGlow {
  0% {
    text-shadow: 0 0 5px $green-color;
  }
  25% {
    text-shadow: 0 0 15px $green-color;
  }
  50% {
    text-shadow: 0 0 25px $green-color;

  }
  75% {
    text-shadow: 0 0 15px $green-color;
  }
  100% {
    text-shadow: 0 0 5px $green-color;
  }
}

@keyframes whiteTextGlow {
  0% {
    text-shadow: 0 0 5px white;
  }
  25% {
    text-shadow: 0 0 15px white;
  }
  50% {
    text-shadow: 0 0 25px white;

  }
  75% {
    text-shadow: 0 0 15px white;
  }
  100% {
    text-shadow: 0 0 5px white;
  }
}

@keyframes rotateAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
@keyframes scaleAnimation {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);

  }
}
