@import "../../Variables/Variables.module";
@import "../../Animations/Animations.module";

.pageWrapper {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  .background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-image: url("/Assets/Images/background.gif");
    background-position: center;
    background-size: cover;
  }


  .pageContent {
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: $dark-color;
    border-radius: 30px;
    padding: 60px;
    border: 1px dashed $main-color;
    z-index: 3;
    margin: 60px 0;
    position: relative;
    overflow: hidden;
    .circlesAnimation {
      position: absolute;
      width: 60px;
      height: 60px;
      display: flex;
      right: 50px;
      top: 50px;
      animation: circlesAnimation 5s linear infinite;


      .smallCircle {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        border: 2px solid $main-color;
        position: absolute;
        right: 0;
        bottom: 0;
        animation: blink 3s linear infinite, textGlow 1s linear infinite;


      }
      .mediumCircle {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        border: 2px solid $main-color;
        position: absolute;
        top: 0;
        bottom: 0;
        animation: blink 2s linear infinite, textGlow 1s linear infinite;
      }
      .bigCircle {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 2px solid $main-color;
        position: absolute;
        bottom: 0;
        animation: blink 4s linear infinite, textGlow 1s linear infinite;

      }


    }
    .spinningGears {
      width: 60px;
      height: 60px;
      position: absolute;
      right: 50px;
      bottom: 50px;
      .smallGear {
        position: absolute;
        top: 0;
        right: 0;
        animation: rotateAnimation 2s linear infinite;
        color: $main-color;
      }
      .mediumGear {
        position: absolute;
        font-size: 25px;
        top: 0;
        left: 0;
        animation: rotateAnimation 2s linear infinite;
        color: $main-color;

      }
      .biGGear {
        position: absolute;
        font-size: 32px;
        bottom: 0;
        right: 0;
        animation: rotateAnimation 2s linear infinite;
        color: $main-color;

      }
    }
    .title {
      display: inline-flex;
      gap: 15px;
      font-size: 32px;
      font-family: $font-alternative;
      font-weight: 600;
      align-items: center;
      color: $main-color;
      user-select: none;
      position: relative;
      margin-bottom: 15px;
      &:after {
        position: absolute;
        height: 2px;
        background-color: $main-color;
        width: 100%;
        content: "";
        bottom: -5px;
      }
      svg {
        color: white;
        font-size: 30px;
        animation: scaleAnimation 1s linear infinite;
      }
    }

    .myName {
      display: flex;
      gap: 15px;
      align-items: center;

      .logoBox {
        width: 50px;
        height: 50px;
        overflow: hidden;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $body-color;
        border: 1px dashed white;
        transition: $transition-medium;
        cursor: default;
        user-select: none;

        &:hover {
          transform: rotate(360deg) scale(1.1);
        }

        p {
          font-family: $font-marker;
          font-size: 32px;
          color: $main-color;
        }
      }

      span {
        font-family: $font-alternative;
        font-weight: 600;
        display: inline-flex;
        gap: 5px;
        font-size: 30px;
        user-select: none;

        p {
          color: $main-color;
          animation: textGlow 2s linear infinite;
        }
      }
    }

    .infoContainer {
      display: flex;
      width: 100%;
      gap: 75px;
      padding: 100px 0;
      align-items: center;

      .imageBox {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 350px;
        width: 100%;
        height: 350px;
        border-radius: 50%;
        position: relative;

        .rotateBlock {
          display: flex;
          border-radius: 50%;
          border: 10px dashed $main-color;
          width: 100%;
          height: 100%;
          animation: rotateAnimation 10s linear infinite;
        }

        img {
          position: absolute;
          left: 50%;
          top: 50%;
          width: 95%;
          height: 95%;
          border-radius: 50%;
          transform: translate(-50%, -50%);


        }
      }

      .infoContent {
        display: flex;
        flex-direction: column;
        width: 60%;



        h2 {
          font-size: 32px;
          font-family: $font-alternative;
          font-weight: 600;
          color: white;
          user-select: none;
          margin-top: 20px;
          animation: whiteTextGlow 3s linear infinite;

        }

        h3 {
          font-size: 20px;
          color: $gray-color;
          user-select: none;
          font-weight: 400;
          margin-top: 20px;
          line-height: 30px;
          span {
            color: $main-color;
            animation: textGlow 3s linear infinite;

          }


        }

        .cvButton {
          width: 150px;
          height: 45px;
          background-color: $main-color;
          color: $white-color;
          text-decoration: none;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          margin-top: 25px;
          font-family: $font-main;
          border-radius: 10px;
          transition: $transition-fast;
          border: 1px dashed transparent;

          &:hover {
            background-color: transparent;
            color: $main-color;
            border: 1px dashed $main-color;

          }
        }

      }
    }
    .educationContainer {
      display: flex;
      width: 100%;
      flex-direction: column;
      padding: 15px 0;
      gap: 12px;
      border-bottom: 1px solid $gray-color;
      &.last {
        margin-bottom: 50px;
      }
      a {
        font-size: 22px;
        color: $white-color;
        transition: $transition-fast;
        &:hover {
          color: $gray-color;
          text-shadow: 0 0 15px $gray-color;
        }
      }
      h2 {
        font-size: 15px;
        font-weight: 400;
        color: $gray-color;
      }
      h3 {
        border-radius: 20px;
        border: 1px solid $main-color;
        width: 100%;
        max-width: 160px;
        align-items: center;
        justify-content: center;
        padding: 10px;
        display: inline-flex;
        font-size: 15px;
      }
    }
    .skillsContainer {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      gap: 25px;
      margin-top: 25px;
      margin-bottom: 50px;
      .skill {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid $main-color;
        padding: 15px 25px;
        border-radius: 10px;
        transition: background $transition-fast;
        &:hover {
          background-color: $main-color;
        }
      }
    }
    .contactMe {
      display: flex;
      width: 100%;
      gap: 150px;
      padding: 25px 0;
      .contactColumn {
        display: flex;
        flex-direction: column;
        gap: 15px;
        .contactRow {
          display: inline-flex;
          gap: 20px;
          svg {
            font-size: 32px;
            color: $main-color;
          }
          a {
            font-size: 22px;
            color: $white-color;
            transition: $transition-fast;
            &:hover {
              color: $gray-color;
              transform: scale(1.05);
            }
          }


        }
      }
    }
  }
}
