@import "../../../Variables/Variables.module";
@import "../../../Animations/Animations.module";


.textHolder {
  font-size: 80px;
  font-family: $font-alternative;
  font-weight: 600;
  color: $main-color;
  user-select: none;
  .stick {
    animation: blink 1s linear infinite;
  }
}



@media screen and (max-width: 600px) {
  .textHolder {
    line-height: 60px;
    span {
      font-size: 50px;
    }
  }
}