@import "./Variables/Variables.module";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: none;
}
body {
    width: 100vw;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    text-decoration: none;
    background-color: $body-color;
    font-family: $font-main;
    color: $white-color;
}
a {
    text-decoration: none;
}